    <table class="table table-striped">
      <thead>
        <tr>
          <th>Client</th>
          <th>Project</th>
          <th class="nr">Rate</th>
          <th></th>
          <th class="nr">Hours</th>
          <th class="nr">Total</th>
        </tr>
      </thead>
      <tbody>
        {% for row in current_quarter_totals %}
        <tr>
          <td>{{ row.client }}</td>
          <td><a href="{% url 'business-project-overview' row.project_id %}">{{ row.project }}</a></td>
          <td class="nr">{{ row.rate }}</td>
          <td>{{ row.unit }}</td>
          <td class="nr">{{ row.hours }}</td>
          <td class="nr">{{ row.total }}</td>
        </tr>
        {% endfor %}
        <tr class="total">
          <td colspan="4"></td>
          <th class="nr">Subotal</th>
          <th class="nr">{{ total }}</th>
        </tr>
        <tr>
          <td colspan="4"></td>
          <th class="nr">VAT</th>
          <th class="nr">{{ vat }}</th>
        </tr>
        <tr class="total">
          <td colspan="4"></td>
          <th class="nr">Total</th>
          <th class="nr">{{ total_with_vat }}</th>
        </tr>
      </tbody>
    </table>
