{% extends 'base.html' %}
{% block content %}

<h2>Quick Entry</h2>

{% include "business/includes/form.html" %}
<br>
<div class="row">
  <div class="col-md-12">
    <p class="">
      <button class="btn btn-default" id="qttoggle">Show totals</button>
    </p>
    <div id="quarter-totals" style="display:none">
      <h2>Current Quarter</h2>
      {% include 'business/includes/summary-table.html' %}
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
  $('#id_project').focus();
  $('#qttoggle').click(function(ev){
    $('#quarter-totals').toggle();
  });
});
</script>
{% endblock %}
